.cardContainer img{
    mix-blend-mode: multiply;
}

.cardContainer{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cardContainer > div{
    font-size: 15px;
    margin-top: 15px;
    align-self: center;
}

.cardContainer:hover{
    background-color: rgb(230, 230, 230);
    transform: scale(1.05); 
}